<nav class="navbar navbar-expand-md navbar-light">
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="home"><img src="assets/hall-1.jpg" style="height: 40px;"></a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="sports">Sports</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="wedding">Weddings</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="history">History</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="bookings">Bookings</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>
<main role="main">
  <div class="container-fluid">
    <div class="col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
