<h1 class="display-4 text-center">Caretaker Job Description</h1>
<p>Post: Village Hall Caretaker</p>
<p>Location: Worplesdon Memorial Hall, Perry Hill, Worplesdon, Guildford, Surrey, GU3 3RF</p>
<p>Reports to: Trustees</p>

<ul>
  <li>The Hall Caretaker will be required to open and close the Hall for regular and occasional hirers as required, both
    during the week and at weekends.</li>
  <li>The Hall Caretaker must be able to self-motivated and work responsibly and flexibly and will be the main contact
    for all hirers.</li>
  <li>The hours worked should be flexible, consistent with the day to day use of the Hall and should on average should
    be up to 30 hours per week.</li>
  <li>The Caretaker would need to be CRB and DBS checked.</li>
</ul>

<ol>
  <li>Bookings<ul>
      <li>To be responsible for managing the on line hall booking system and ensuring invoices are sent out and paid.
      </li>
    </ul>
  </li>
  <li>Servicing<ul>
      <li>To ensure that the building remains tidy and that all furniture and equipment is appropriately stored after
        use.</li>
      <li>Make sure that the hall is kept clean at all times.</li>
      <li>To ensure that the car park and area around the hall is kept tidy and maintained.</li>
    </ul>
  </li>
  <li>Management of Systems<br>To manage and adjust systems and services within the Hall as and when required with
    particular regard to:
    <ul>
      <li>Testing the fire alarm system on a weekly basis and maintain test register.</li>
      <li>Testing the emergency lighting system on a monthly basis and recording the results.</li>
      <li>Regulating the heating system, if required, to ensure that an adequate level of heating is maintained while
        ensuring unnecessary usage is avoided.</li>
      <li>Recording on a quarterly basis the electricity meter readings and advise the Treasurer of the reading.</li>
      <li>Record on a monthly basis the electricity meter readings for the tennis court and advise the tennis club of
        the readings</li>
      <li>To complete on a monthly basis an Inspection Checklist and notify the Trustees of any action needed.</li>
      <li>Arranging the servicing of the central heating and fire systems when required.</li>
      <li>Carry out legionella water test and recording the results. Need to notify Trustees of any action required.
      </li>
    </ul>
  </li>
  <li>Maintenance and Safety<ul>
      <li>To ensure that the Trust is promptly informed of any new maintenance issues, effecting furniture, fittings and
        equipment.</li>
      <li>To ensure that all lights and heating are working effectively, changing light bulbs/strip lighting and
        occasionally working at height.</li>
      <li>To carry out regular maintenance and decorating as and when required both for the hall and the outside of the
        pavilion.</li>
      <li>To maintain the first aid box and accident record.</li>
    </ul>
  </li>
  <li>Setting Up<ul>
      <li>To assist with (as appropriate) the setting out and subsequent removal and securing after use, chairs, tables
        and other equipment in the hall.</li>
    </ul>
  </li>
  <li>Security<ul>
      <li>Be the first point of contact in an emergency, responding to and liaising with the emergency services out of
        hours as needed.</li>
      <li>You may be occasionally called out at unsociable hours or at weekends to deal with security issues, make
        emergency repairs or allow access to any contractor who may be working at the Hall.</li>
    </ul>
  </li>
  <li>Supervision of Premises<ul>
      <li>To monitor the activities in the Hall to ensure that hirers comply with the Hall's Conditions of Hire and
        other
        statutory requirements.</li>
      <li>To open and close the Hall at times appropriate to the booking schedule and to secure the premises when the
        Hall is not in use.</li>
      <li>To retain custody of a set of keys to the building.</li>
    </ul>
  </li>
  <li>General<ul>
      <li>Understand and implement fire safety regulations, Health and Safety Regulations, COSHH, emergency procedures
        and the
        rules for evacuating the building.</li>
      <li>Be familiar with the Health & Safety Policy and the Risk Assessment</li>
      <li>Ensure compliance with the Trust's council Fire Risk Assessment Plan</li>
      <li>Complete monthly timesheets and submit to the Treasurer for checking on the 1st of each month.</li>
      <li>Prepare a regular report for Trustees and attend trustee meetings.</li>
    </ul>
  </li>
</ol>
<p>If you are interested in finding out more or think you would make the ideal candidate, please email
  <a href="mailto:trustees@wmh.org.uk">trustees@wmh.org.uk</a>
</p>
<p>Closing date for applications is 17th February 2023.</p>
