Contact us
Hall enquiries and bookings
If you are interested in learning more about what our Hall has to offer, or wish to check availability and make a booking, please contact our Hall Manager and Caretaker, Mr Tim Astley, who lives in the cottage alongside the Hall.

He may be contacted

by telephone on 01483 232117
by e-mail at worpmemhall@hotmail.com
by post at Memorial Hall Cottage, Perry Hill, Worplesdon, Guildford, Surrey GU3 3RF.
Contacting the Trustees
The Worplesdon Memorial Trustees, who have ultimate responsibility for the Hall and Recreation Ground, may be contacted at enquiries@worplesdonmemorialhall.org.uk.
