History and Management
The Hall was built in 1922 in memory of the local men killed in World War I.

The land had been donated to Worplesdon Parish Council for this purpose in 1919 by Sir James Lewis Walker (1845-1927), a local landowner who had enjoyed a distinguished career as a banker and newspaper owner in India.  A portrait of Sir James can be seen in the hall.   He lived in Worplesdon Place at the centre of an estate which included property on both sides of the A322.  The house is now the Worplesdon Place Hotel, almost opposite the hall.

The Hall itself was built with funds from an anonymous donor, who was later identified as Sir Laurence Edward Halsey (1871-1945).  Sir Laurence lived at Gooserye in Worplesdon and was a leading member of the accountancy profession, holding many distinguished appointments, including Auditor to the Duchy of Lancaster.  He was High Sheriff of Surrey in 1935.

Although it retains formal ownership of the land, the Parish Council is not responsible for the management of the property.  Instead, the management of the Memorial Hall and Grounds is in the hands of the Worplesdon Memorial Trustees, a registered charity.   (This is the registered working name of the charity; the full formal name is Worplesdon Memorial Hall and Recreation Ground and the Sime Trust.)

If you would like know more about the work of the trustees, you may like to see our most recent Annual Report and Accounts.

The trustees are committed to provide the residents of Worplesdon with recreational and social facilities.  As volunters, they give their time and efforts to maintain the objectives of the Hall Trust as set out in the original Deed of 1919 and are always seeking to improve and expand the facilities for the benefit all users.
