<div class="jumbotron p-2">
  <div class="container-fluid">
    <h1 class="display-4 text-center">Worplesdon Memorial Hall and Recreation Ground CIO</h1>
    <hr>
    <h1 class="text-center">Worplesdon Memorial Hall is looking for a Caretaker</h1>
    <p>We are looking to appoint a friendly, energetic, and reliable individual with a range of practical skills for the
      role of Caretaker to join our team and contribute to the smooth running of the village hall.
      The successful applicant will have a range of duties across the site and should be self-motivated, dependable and
      trustworthy and able to work under their own initiative to prioritise workloads.
      Responsibilities include looking after the security of the building, minor maintenance and repairs, ensuring the
      cleanliness of the premises, meeting potential hirers and preparing the hall for bookings.
      The caretaker will need to be available to attend the hall at irregular hours to help with the overall running of
      the facilities.</p>
    <p>The post is permanent and subject to a period of successful probation. The hours worked will be flexible and
      consistent with the day to day use of the hall and should not exceed a maximum 30 hours per week. We are looking
      for the successful candidate to start as soon as possible.
      As part of the salary package, the cottage on site will be provided.
    </p>
    <p>If you are interested in finding out more or think you would make the ideal candidate, please email
      <a href="mailto:trustees@wmh.org.uk">trustees@wmh.org.uk</a>
    </p>
    <p>Closing date for applications is 17th February 2023.</p>
    <p><a href="caretaker">Click here for the Job Description</a></p>
    <hr>
    <h1 class="text-center">Volunteer Treasurer Needed</h1>
    <p>Worplesdon Memorial Hall and Recreation Ground CIO is seeking a treasurer to join the running of our Village
      Hall. The Treasurer’s responsibilities include liaising with the Trust, ensuring payments in and out are
      accurately and timely made, preparing the annual Charity Commission Report and annual accounts, producing monthly
      reports to the Trustees and attending trust meetings.
      Applicants should be well organised and computer literate so as to manage email correspondence and online banking.
    </p>
    <p>If you are interested we would love to hear from you. Simply email <a
        href="mailto:trustees@wmh.org.uk">trustees@wmh.org.uk</a> and we will be in touch.</p>
    <hr>
    <br>
    <!-- <img style="float: left;margin-right: 10px; margin-bottom: 10px;" src="assets/hall-1.jpg"> -->
    <ngb-carousel [interval]="3000" class="carousel slide" style="max-width: 750px;margin: auto;margin-bottom: 20px;">
      <ng-template ngbSlide *ngFor="let img of grounds">
        <div class="picsum-img-wrapper">
          <img [src]="img.url" [alt]="img.title">
        </div>
      </ng-template>
    </ngb-carousel>
    <p>
      Worplesdon Memorial Hall is a popular village hall near Guildford in Surrey. With its central position in the
      village, easy access from Guildford and adequate parking, the hall is an ideal venue for all kinds of social
      activities, public or private, including weddings.</p>
    <p>There is good access to the hall for the disabled, which is facilitated by the availability of
      parking next to the hall entrance. The toilets have disabled facilities.</p>
    <p><b>Free wi-fi</b> is available throughout the building.</p>
    <p>Our address is: <a target="_blank"
        href="https://www.google.co.uk/maps/place/Worplesdon+Memorial+Hall/@51.2770657,-0.6121381,17z/data=!4m5!3m4!1s0x4875d6d80318fa25:0x8ac1e5c8b889d890!8m2!3d51.2770626!4d-0.6101308">
        Worplesdon Memorial Hall, Perry Hill, Worplesdon, Guildford, Surrey GU3 3RF</a></p>
    <a class="btn btn-primary btn-large" routerLink="/contact">Contact Us</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Sports</h2>
      <p>With a Tennis Club, Cricket Club and a Football Club as well as a children's playground, Worplesdon Memorial
        Hall is the ideal venue for your sporting activities</p>
      <p><a class="btn btn-secondary" routerLink="/sports">Learn More</a> </p>
    </div>
    <div class="col-md-4">
      <h2>Events</h2>
      <p>From holding dance classes to your Wedding, we are your number one local venue</p>
      <p><a class="btn btn-secondary" routerLink="/wedding">Learn More</a> </p>
    </div>
    <div class="col-md-4">
      <h3>Sidney Sime Gallery</h3>
      <img src="assets/sidney_sime.jpg">
      <p>On the first floor of the Hall there is
        a small gallery devoted to the fascinating and
        highly characteristic work of Sidney Sime (1865-1941),
        the famous artist, illustrator and caricaturist. Sime owned a cottage at Worplesdon and spent much of his
        time here during
        the latter part of his life.</p>
      <p><a class="btn btn-secondary" href="https://www.sidneysimegallery.org.uk">Learn More</a> </p>
    </div>
  </div>
</div>
