<ul class="my-5 text-center" style="list-style:none">
  <li class=" py-3"><a [routerLink]="['/flyers', 'SCW FUN DAY 2022 Flyer.htm']">Southern Welfare & Club Fun Day - Sunday
      29th May
      2022</a></li>
  <li class=" py-3"><a [routerLink]="['/flyers', '2022-04-28 Jubilee Flyer Page 1.html']">Community Fun Day Fairlands Sports Field 3pm to 10pm on 2nd June 2022</a></li>
  <li class=" py-3"><a [routerLink]="['/flyers', '2022-04-28 Jubilee Flyer Page 2.html']">Wood Street Village & Perry Hill events - 2nd to the 5th June 2022</a></li>
  <li class=" py-3"><a [routerLink]="['/flyers', 'Jubilee Art Competition Flyer-page-001.html']">Jubilee Beacon Lighting
      Art
      Competition</a></li>
  <li class=" py-3"><a target="_blank" href="/assets/flyers/COME AND JOIN US on June 2nd.pdf">Jubilee Concert at St
      Mary's at 8pm on
      the 2nd June 2022</a></li>
  <li class=" py-3"><a target="_blank" href="/assets/flyers/PICNIC 1.pdf">The Big Jubilee Picnic - 2pm on 5th June
      2022</a></li>
</ul>
